<footer class="pt-5 pb-4">
  <div class="container-fluid">
    <!-- <ul class="list-inline text-center">
      <li class="list-inline-item">
        <%= link_to 'Our Homes', '/our-homes/' %>
      </li>
      <li class="list-inline-item">
        <%= link_to 'Services', '/services/' %>
      </li>
      <li class="list-inline-item">
        <%= link_to 'Projects', '/projects/' %>
      </li>
      <li class="list-inline-item">
        <%= link_to 'About', '/about/' %>
      </li>
      <li class="list-inline-item">
        <%= link_to 'Contact', '/contact/' %>
      </li>
      <li class="list-inline-item">
        <%= link_to 'Careers', '/careers/' %>
      </li>
    </ul>

    <hr> -->

    <ul class="list-inline text-center">
      <li class="list-inline-item">
        Shemss Construction &copy; 2018.
      </li>
      <li class="list-inline-item">
        <%= link_to 'Privacy Policy', '/privacy-policy/' %>
      </li>
      <li class="list-inline-item">
        Contact: <%= data.site.phone %>
      </li>

      <li class="list-inline-item">
        <% link_to 'https://www.facebook.com/shemssinc/', target: '_blank' do %>
          <i class="fa fa-fw fa-facebook-official" aria-hidden="true"></i>
          <span class="sr-only">Facebook</span>
        <% end %>
      </li>
      <li class="list-inline-item">
        <% link_to 'https://www.pinterest.com/shemssinc/', target: '_blank' do %>
          <i class="fa fa-fw fa-pinterest" aria-hidden="true"></i>
          <span class="sr-only">Pinterest</span>
        <% end %>
      </li>
      <li class="list-inline-item">
        <% link_to 'https://www.instagram.com/shemssinc/', target: '_blank' do %>
          <i class="fa fa-fw fa-instagram" aria-hidden="true"></i>
          <span class="sr-only">Instagram</span>
        <% end %>
      </li>
      <li class="list-inline-item">
        <% link_to 'https://www.youtube.com/channel/UCKWFX2uDnvO4D73nkT-5BuA',
          target: '_blank' do %>
          <i class="fa fa-fw fa-youtube" aria-hidden="true"></i>
          <span class="sr-only">Instagram</span>
        <% end %>
      </li>
    </ul>
  </div>
</footer>
