---
subtitle: Custom Home Building and Renovation in Lake Tahoe and Reno

testimonials:
- name: Randy Soriano
  quote: >
    SHEMSS made building our custom home easy. They would meet with us as many
    times as we needed, we had no worries and felt well-taken care off, if we
    were to build another home, we would build with SHEMSS again.
- name: Scott Erwin
  quote: >
    I’ve been to their open house and loved the effort SHEMSS puts into their
    homes. The use of space is well managed, the home had lots of beautiful
    windows. SHEMSS is certainly different from other homes that I’ve seen in
    Tahoe, we are now looking for a lot and looking forward to build our first
    home with SHEMSS.
- name: Jonard Luff
  quote: >
    Very easy to work with every step of the way. SHEMSS has help us find our
    lot, we had no idea how much work goes into just that alone. We are glad we
    chose SHEMSS to build our custom home, Serg is very creative in how he
    builds, our home is special to us with a personal touch.
---

<%= content_tag :div, nil, class: 'video-hero mb-5', data: {
    video: image_path('home/hero/hero.mp4'),
    slides: [{
      image:    image_path('home/hero/built-to-last.jpg'),
      caption:  'Built to Last',
      href:     '#built-to-last',
      time:     10.6666667,
    },{
      image:    image_path('home/hero/built-to-evolve.jpg'),
      caption:  'Built to Evolve',
      href:     '#built-to-evolve',
      time:     21.3333333,
    },{
      image:    image_path('home/hero/built-to-design.jpg'),
      caption:  'Built to Design',
      href:     '#built-to-design',
      time:     32,
    }].to_json
  } %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h2 class="h5 text-uppercase">
        <span class="display-1">$197</span><br>
        <small>starting price per square foot</small>
      </h2>

      <p>
        Our affordable rates make it possible to own the home of your dreams.
        Building to your customized specifications makes your home a reflection
        of your taste and personality. Designing the space of your dreams has
        never been more within reach. Or, if you prefer, we have existing models
        that can be modified and customized to your needs.
      </p>
    </div>

    <div class="col-sm">
      <h2 class="h5 text-uppercase">
        <span class="display-1">30</span><br>
        <small>weeks to complete</small>
      </h2>

      <p>
        Hard to believe, but from the day we start the construction process, it
        may be as little as 7 months before you can move into your very own
        SHEMSS home. SHEMSS homes are not just any ordinary homes, they’re
        <a href="#built-to-last">Built to Last</a>,
        <a href="#built-to-evolve">Built to Evolve</a>, and
        <a href="#built-to-design">Built to Design</a>.
        Your new home comes bundled with the most unique features and advanced
        infrastructure systems ever built.
      </p>
    </div>

    <div class="col-md">
      <div class="text-uppercase text-white bg-dark p-3 p-sm-4 to-edge-right">
        <h2 class="h5 hul"><small>Included with every SHEMSS home</small></h2>
        <ul>
          <li>Architecture &amp; engineering</li>
          <li>Permit application</li>
          <li>Foundation</li>
          <li>Structural system</li>
          <li>Framing</li>
          <li>Plumbing</li>
          <li>Fireplace units</li>
          <li>Electrical</li>
          <li>HVAC</li>
          <li>Fire sprinklers</li>
          <li>Smart home systems</li>
          <li>Insulation</li>
          <li>Doors &amp; windows</li>
          <li>Roofing</li>
          <li>Exterior finish</li>
          <li>Interior finish</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="anchor" id="built-to-last"></div>

  <div class="row">
    <div class="col-md">
      <div class="bg-light p-4 p-sm-5 to-edge-left-mega">
        <h2 class="hul">Built To Last</h2>
        <p><em>Less work, more me time.</em></p>
        <p>
          Simply put, we build homes that stand the test of time. In all stages
          of the SHEMSS construction process &mdash; from initial design and
          material selection to the final build &mdash; we opt with selections
          that spell longevity. Your time is valuable and for most people house
          maintenance isn’t exactly the greatest example of having fun. Our
          well-built homes cost less to maintain and stand strong to protect
          your investment.
        </p>
      </div>
    </div>
    <div class="col-md">
      <div class="vertical-center to-edge-left to-edge-right">
        <%= image_tag 'home/built-to-last.jpg',
          class: 'img-fluid vertical-center-inner' %>
      </div>
    </div>
  </div>
</div>

<div class="text-white p-4 p-sm-5 home-heart">
  <div class="container-fluid py-3 py-md-5">
    <p class="lead text-center"><em>
      Home is where the heart is&hellip;<br>
      Your home is a reflection of you &mdash; the person you are, the life you
      live, and the family you cherish. SHEMSS will take your ideas and dreams
      to create a unique space that provides the function, form, and aesthetic
      that’s perfect for you.
    </em></p>
  </div>
</div>

<div class="anchor" id="built-to-evolve"></div>

<div class="container-fluid">
  <div class="row mt-md-3 mt-lg-0 mb-5 built-to-evolve">
    <div class="col-md col-lg-5 mb-md-5">
      <div class="vertical-center">
        <div class="text-white bg-dark p-3 p-sm-5 p-md-4 to-edge-left to-edge-right pad-edge vertical-center-inner">
          <h2 class="hul">Built to Evolve</h2>
          <p><em>A house that easily accommodates your ever-changing needs.</em></p>
          <p>
            Just as you grow and change, so too should your house. A SHEMSS home
            is built with flexibility in mind. With an eye towards the future,
            we’ve put in place an infrastructure that makes maintenance a cinch
            and upgrades a breeze. The future may be “Smart” but a SHEMSS home
            is built smarter.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md col-lg-7 mb-md-5">
      <div class="to-edge-left to-edge-right to-edge-right-mega">
        <%= partial 'layouts/video-modal', locals: {
          video: 'g-ldZZTrIoM',
          title: 'We Don’t Build Houses, We Build Homes',
          image: image_tag('home/built-to-evolve.jpg', class: 'img-fluid'),
        } %>
      </div>
    </div>
  </div>

  <h2 class="text-center mb-4">What We Do</h2>

  <div class="row mb-md-5">
    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'home/process.svg#finding-a-lot') %>
      </svg>
      <h4 class="h6 text-uppercase">Finding a Lot</h4>
      <p>
        Selecting a lot is an exciting and potentially daunting first step in
        the construction process. With decades of experience in new builds,
        SHEMSS is well versed in the intricacies of site selection. We will make
        sure that your new home finds its perfect footing. Our extended network
        includes realtors, surveyors, and specialists who are key assets to our
        team.
      </p>
    </div>
    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'home/process.svg#designing-your-home') %>
      </svg>
      <h4 class="h6 text-uppercase">Designing Your Home</h4>
      <p>
        Step two is where the fun really begins, the designing of your dream
        home. We offer several base designs that are fully customizable to
        create a unique space that fits your lifestyle and expresses who you
        are. Our clients can choose to be as “hands-on” or as “hands-off” as
        they wish. Our process is tailored to be streamlined, innovative, and
        fun.
      </p>
      <!-- <p>
        <%= link_to 'See our plans', '/our-homes/',
          class: 'btn btn-dark text-uppercase' %>
      </p> -->
    </div>
    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'home/process.svg#applying-for-permits') %>
      </svg>
      <h4 class="h6 text-uppercase">Applying for Permits</h4>
      <p>
        At SHEMSS, we’re pros at efficiently navigating through the permit
        process. With decades of building experience and hundreds of state and
        local code inspections passed translate to a painless build with minimal
        hold-ups.
      </p>
    </div>
    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'home/process.svg#building-your-home') %>
      </svg>
      <h4 class="h6 text-uppercase">Building Your Home</h4>
      <p>
        Buckle up! Once the site work is complete, the countdown begins. In as
        little as six months you could be living in your new SHEMSS home. Blink
        and you just might miss it.
      </p>
    </div>
  </div>

  <div class="anchor" id="built-to-design"></div>

  <div class="row">
    <div class="col-md">
      <div class="bg-light p-4 p-sm-5 to-edge-left-mega">
        <h2 class="hul">Built to Design</h2>
        <p><em>
          Your home is a reflection of you, your personality and the lifestyle
          you live.
        </em></p>
        <p>
          We all have different ideas of a perfect home. SHEMSS provides
          infinite options to create a look that feels like home. From
          traditional and chic, to paired down minimalist-modern, we provide
          infinite options to create a space that fills you with joy.
        </p>
        <h3>Finishing Touches</h3>
        <p>
          Your custom completed home is now a blank canvas awaiting your
          personal stamp, a finishing touch. Whether you’re looking to create a
          serene and restful bedroom or dynamic energizing workspace, the
          careful selection and placement of fabrics, furniture, and art is a
          crowning stroke on your masterpiece. If color wheels, feng-shui, and
          shopping are not your strong suit we are happy to connect you with an
          interior designer, vendor, or installer from our extended team to ease
          the process.
        </p>
      </div>
    </div>
    <div class="col-md">
      <div class="vertical-center to-edge-left to-edge-right">
        <%= image_tag 'home/built-to-design.jpg',
          class: 'img-fluid vertical-center-inner' %>
      </div>
    </div>
  </div>

  <div class="text-white bg-secondary text-center px-2 py-5 to-edge-right to-edge-left ready-evolve">
    <h2>Ready to Evolve?</h2>
    <p class="lead"><em>The Home of the Future is Waiting for You</em></p>
    <!-- <p>
      <%= link_to 'See our homes', '/our-homes/',
        class: 'btn btn-dark text-uppercase' %>
    </p> -->
  </div>
</div>

<div class="bg-light py-5">
  <div class="container-fluid">

    <div id="carousel-testimonials" class="carousel slide carousel-text"
      data-ride="carousel">
      <ol class="carousel-indicators">
        <% current_page.data.testimonials.each.with_index do |testimonial, i| %>
          <%= content_tag :li, nil,
            class: i == 0 ? 'active bg-primary' : 'bg-secondary',
            data: { target: '#carousel-testimonials', slide_to: i } %>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% current_page.data.testimonials.each.with_index do |testimonial, i| %>
          <% content_tag :div, class: [
            'carousel-item mb-5',
            i == 0 ? 'active' : nil,
          ].compact.join(' ') do %>
            <blockquote class="blockquote mx-auto pt-lg-5"
              style="max-width: 600px">
              <%= testimonial.quote %>

              <footer class="blockquote-footer text-uppercase text-center mt-3">
                <%= testimonial.name %>
              </footer>
            </blockquote>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<% content_for :foot, javascript_include_tag('home') %>
