---
subtitle: Construction and Home Renovation in Lake Tahoe and Reno
---

<div class="container-fluid">
  <div class="mb-5 to-edge-right to-edge-left">
    <% content_tag :div, class: 'video-hero', data: {
        video: image_path('home/hero/hero.mp4'),
        slides: [{
          image:    image_path('home/hero/built-to-last.jpg'),
          caption:  'Built to Last',
          href:     '#built-to-last',
          time:     10.6666667,
        },{
          image:    image_path('home/hero/built-to-evolve.jpg'),
          caption:  'Built to Evolve',
          href:     '#built-to-evolve',
          time:     21.3333333,
        },{
          image:    image_path('home/hero/built-to-design.jpg'),
          caption:  'Built to Design',
          href:     '#built-to-design',
          time:     32,
        }].to_json
      } do %>
      <div class="video-hero-placeholder">
        <div class="embed-responsive embed-responsive-16by9"></div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm">
      <h2 class="h5 text-uppercase">
        <span class="display-1">$180</span><br>
        <small>per square foot</small>
      </h2>

      <p>
        Our affordable pricing makes it possible to own the home of your dreams.
        With <%= link_to 'Built to Customize', '#' %>,
        our streamlined process for customizing your home, making your home a
        reflection of your tastes and personality becomes a breeze. Designing
        the space of your dreams has never been more within reach.
      </p>
    </div>

    <div class="col-sm">
      <h2 class="h5 text-uppercase">
        <span class="display-1">24</span><br>
        <small>weeks to complete</small>
      </h2>

      <p>
        Hard to believe but from the day when we start the construction process,
        you may be less than 6 months away from living in your very own Shemss
        home. And not any ordinary home. All Shemss homes come equipped
        <%= link_to 'Built to Evolve', '#' %>,
        the most current modern infrastructure &mdash; Smart enough to keep even
        the most, savvy and discerning of technophiles content.
      </p>
    </div>

    <div class="col-md">
      <div class="text-uppercase text-white bg-dark p-3 p-sm-4 to-edge-right">
        <h2 class="h5 hul"><small>Included with every Shemss house</small></h2>
        <ul>
          <li>Architecture &amp; engineering</li>
          <li>Permitting</li>
          <li>Insulation</li>
          <li>Foundation</li>
          <li>Structural system</li>
          <li>Framing</li>
          <li>Plumbing</li>
          <li>Fireplace unit</li>
          <li>Electrical</li>
          <li>Hvac</li>
          <li>Fire sprinklers</li>
          <li>Doors &amp; windows</li>
          <li>Inspections</li>
          <li>Exterior finishes</li>
          <li>Interior finishes</li>
      </div>
    </div>
  </div>

  <div class="row" id="built-to-last">
    <div class="col-md">
      <div class="bg-light p-4 p-sm-5 to-edge-left-mega">
        <h2 class="hul">Built To Last</h2>
        <p><em>Less work, more me time.</em></p>
        <p>
          Simply put, we build better houses &mdash; houses that stand the test
          of time. In all stages of the Shemss process &mdash; from initial
          design, material selection through the build &mdash; we opt for the
          selection that spells longevity. Your time is valuable and house
          maintenance isn’t most people’s idea of fun. Our well-built homes cost
          less to maintain, stand strong to protect your investment and free you
          up to spend more time doing what you truly love.
        </p>
      </div>
    </div>
    <div class="col-md">
      <div class="vertical-center to-edge-left to-edge-right">
        <%= image_tag 'home/built-to-last.jpg',
          class: 'img-fluid vertical-center-inner' %>
      </div>
    </div>
  </div>
</div>

<div class="text-white p-4 p-sm-5 home-heart">
  <div class="container-fluid py-3 py-md-5">
    <p class="lead text-center"><em>
      Home is where the heart is&hellip;<br>
      Your home is a reflection of you &mdash; the person you are, the life you
      live and the family you cherish. Shemss will take your ideas and dreams to
      create a unique space that provides the function, form and aesthetic
      that’s perfect for you.
    </em></p>
  </div>
</div>

<div class="container-fluid" id="built-to-evolve">
  <div class="row mt-md-3 mt-lg-0 mb-5 built-to-evolve">
    <div class="col-md col-lg-5 mb-md-5">
      <div class="vertical-center">
        <div class="text-white bg-dark p-3 p-sm-5 p-md-4 to-edge-left to-edge-right pad-edge vertical-center-inner">
          <h2 class="hul">Built to Evolve</h2>
          <p><em>A house that easily accommodates your ever-changing needs</em></p>
          <p>Just as you grow and change, so too should your house.</p>
          <p>
            A Shemss home is built with flexibility in mind. With an eye towards
            the future, we’ve put in place an infrastructure that makes
            maintenance a cinch and upgrades a breeze. The future maybe “Smart”
            but Shemss houses are built smarter.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md col-lg-7 mb-md-5">
      <div class="to-edge-left to-edge-right to-edge-right-mega">
        <%= image_tag 'home/built-to-evolve.jpg',
          class: 'img-fluid' %>
      </div>
    </div>
  </div>

  <div class="row mb-md-5">
    <div class="col-sm-6 col-lg mb-5 process-col">
      <h4 class="h6 text-uppercase">Finding Land</h4>
      <p>
        Selecting land is an exciting, and potentially daunting, first step in
        the construction process. With decades of experience in new builds,
        Shemss is well versed in the intricacies of site selection. We can help
        make sure your new home finds it’s perfect footing. Our extended network
        includes realtors, surveyors, and specialists that are key assets to our
        team.
      </p>
    </div>
    <div class="col-sm-6 col-lg mb-5 process-col">
      <h4 class="h6 text-uppercase">Design Your Home</h4>
      <p>
        Step two is where the fun really begins &mdash; designing your dream
        home. We offer several base designs, fully customizable to create a
        unique space that fits your life and expresses who you are. Our clients
        can choose to be as “hands on” or as “hands-off” as they wish. Our
        process is tailored to be streamlined, innovative and fun.
      </p>
      <!-- <p>
        <%= link_to 'See our plans', '/our-homes/',
          class: 'btn btn-dark text-uppercase' %>
      </p> -->
    </div>
    <div class="col-sm-6 col-lg mb-5 process-col">
      <h4 class="h6 text-uppercase">Permitting</h4>
      <p>
        At Shemss we’re old pros at efficiently navigating through the
        permitting process. Our decades of building experience and hundreds of
        passed code (state and local) inspections translate to a painless build
        with minimal hold-ups.
      </p>
    </div>
    <div class="col-sm-6 col-lg mb-5 process-col">
      <h4 class="h6 text-uppercase">Building Your Home</h4>
      <p>
        Buckle up! Faster than a speeding bullet. Once site work is complete the
        countdown begins. In as little as six months you could be living in your
        new Shemss home. Blink and you might miss it.
      </p>
    </div>
  </div>

  <div class="row" id="built-to-design">
    <div class="col-md">
      <div class="bg-light p-4 p-sm-5 to-edge-left-mega">
        <h2 class="hul">Built to Design</h2>
        <p><em>
          Your home is a reflection of you, your personality and the lifestyle
          you live.
        </em></p>
        <p>
          We all have different ideas of a perfect home. Shemss provides
          infinite options to create a look that feels like home. From
          traditional and chic, to paired down minimalist-modern, we provide
          infinite options to create a space that fills you with joy.
        </p>
        <h3>Finishing Touches</h3>
        <p>
          Your custom completed home is a blank canvas ready for your personal
          stamp and finishing touches. Whether you’re looking to create a serene
          and restful bedroom or dynamic energizing workspace, the careful
          selection and placement of fabrics, furniture, and art is a crowning
          stroke on your masterpiece. If color wheels, feng shui, and shopping
          are not your strong suit we are happy to connect you with an interior
          designer, vendor or installer from our extended team to ease the
          process.
        </p>
      </div>
    </div>
    <div class="col-md">
      <div class="vertical-center to-edge-left to-edge-right">
        <%= image_tag 'home/built-to-design.jpg',
          class: 'img-fluid vertical-center-inner' %>
      </div>
    </div>
  </div>

  <div class="text-white bg-secondary text-center px-2 py-5 to-edge-right to-edge-left ready-evolve">
    <h2>Ready to Get Evolved?</h2>
    <p class="lead"><em>The home of the Future is Waiting For You</em></p>
    <!-- <p>
      <%= link_to 'See our plans', '/our-homes/',
        class: 'btn btn-dark text-uppercase' %>
    </p> -->
  </div>
</div>

<div class="bg-light py-5">
  <div class="container-fluid">
    <blockquote class="blockquote mx-auto pt-lg-5" style="max-width: 600px;">
      Shemss Homes has completely changed the way I look at my home. Not only
      should it be comfortable and a place where I can raise my family, but it
      should be smart, efficient and simple to maintain. The house embodies
      everything I love in a home: Beautiful, modern and built to last. I
      couldn’t be happier with my Shemss!

      <footer class="blockquote-footer text-uppercase text-center">
        Scot J Erwin
      </footer>
    </blockquote>
  </div>
</div>

<% content_for :foot, javascript_include_tag('home') %>
