---
subtitle: Construction and Home Renovation in Lake Tahoe and Reno
---

<% caption = capture do %>
  <p class="h2 mb-4">Exquisite interiors made here</p>
  <p class="mb-0">
    <%= link_to 'Get a quote', '/contact/',
      class: 'btn btn-outline-light rounded-pill text-uppercase px-5' %>
  </p>
<% end %>

<%= content_tag :div, nil, class: 'video-hero mb-5', data: {
    video: image_path('services/hero/hero.mp4'),
    slides: [{
      image:    image_path('services/hero/1.jpg'),
      caption:  caption,
      time:     7,
    },{
      image:    image_path('services/hero/2.jpg'),
      caption:  caption,
      time:     15,
    },{
      image:    image_path('services/hero/3.jpg'),
      caption:  caption,
      time:     21,
    },{
      image:    image_path('services/hero/4.jpg'),
      caption:  caption,
      time:     28,
    }].to_json
  } %>

<div class="container-fluid">
  <div class="anchor" id="new-construction"></div>

  <div class="row mb-5">
    <div class="col-md-7">
      <h2 class="hul">New Construction</h2>

      <p><em>
        From design through completion our qualified crew is dedicated to
        helping you with every step of the way!
      </em></p>

      <p>
        Our many choices make it easy to choose a
        <a href="#">model</a>
        which best suits you. With SHEMSS flexibility, unique options, and
        finishing touches, it has never been easier to find a perfect home.
        We’ll guide you through the various unique stages of building a new
        construction home. From selecting a model, finding the perfect lot,
        securing financing, design, and construction.
      </p>

      <p>
        Building beautiful homes is our line of expertise and passion. We hope
        that our enthusiasm makes your dream home journey incredible.
      </p>

      <p>
        If you’re looking for simplicity and elegance, consider a
        Modern/Contemporary home with strong geometric shapes and an open floor
        plan.
      </p>
    </div>

    <div class="col-md-5">
      <div class="text-white bg-dark p-3 p-sm-4 to-edge-right">
        <h2 class="h5 text-uppercase hul"><small>Our Process</small></h2>

        <p><em>
          We believe that collaboration between our team and the client is
          essential for a successful outcome.
        </em></p>

        <p>
          With an open dialogue and clear communication, it’s an easy and
          enjoyable process, especially when realizing the vision of your dream
          home is coming to life. We’re open to let you be as “hands-on” or as
          “hands-off” as you wish.
        </p>

        <p>
          We offer a free consultation to help you feel assured that a SHEMSS
          home is perfect for you. If you decide to work with us we have a
          streamlined process to make your journey one that’s low stress and a
          positive experience.
        </p>

        <ul class="text-uppercase">
          <li>Preliminary Schematic Design &amp; Budgeting</li>
          <li>Design Detail &amp; Permit Applications</li>
          <li>Scheduling</li>
          <li>Construction</li>
          <li>Completion</li>
        </ul>
      </div>
    </div>
  </div>

  <h2 class="text-center mb-4">Building a SHEMSS Home, Simply Better</h2>

  <div class="row mb-md-5">
    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'services/process.svg#schematic') %>
      </svg>

      <h4 class="h6 text-uppercase">
        Preliminary Schematic Design &amp; Budgeting
      </h4>

      <p><em>
        In this phase we lay the groundwork to kick-start your project into
        action.
      </em></p>

      <p>Steps include:</p>

      <ul>
        <li>Highlight project goals and the general scope of work</li>
        <li>Establish a preliminary schematic design</li>
        <li>Devise the floor and site plan</li>
        <li>Review budget allocation</li>
      </ul>

      <p>At this point, we sign a contract to move forward with the project.</p>
    </div>

    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'services/process.svg#detail') %>
      </svg>

      <h4 class="h6 text-uppercase">Design Detail &amp; Permit Applications</h4>

      <p><em>Let’s get this party started: In this phase the fun begins.</em></p>

      <p>
        We will do fine tuning and detailing of the schematic design, creating a
        final master plan. Select materials and fixtures that reflect your
        taste. Prepare and submit construction and engineering documents to the
        appropriate city/county departments.
      </p>
    </div>

    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'services/process.svg#scheduling') %>
      </svg>

      <h4 class="h6 text-uppercase">Scheduling</h4>

      <p><em>
        With permit in hand it’s time to arrange all the details and fast-track
        the project.
      </em></p>

      <p>
        Subcontractors and craftsmen will be scheduled, material procurement
        will be done, and the project timeline will be reviewed.
      </p>
    </div>

    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'services/process.svg#construction') %>
      </svg>

      <h4 class="h6 text-uppercase">Construction</h4>

      <p><em>Where your dream home meets reality.</em></p>

      <p>
        We will ensure that site preparation is complete, material delivered,
        hands-on project management will ensure adherence to timeline. Careful
        supervision of all moving parts to ensure the highest quality of
        workmanship performed by our trade professionals.
      </p>
    </div>

    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'services/process.svg#completion') %>
      </svg>

      <h4 class="h6 text-uppercase">Completion</h4>

      <p><em>Time flies when you’re having fun.</em></p>

      <p>
        30 weeks go by in the blink of an eye! Our work is done and we hand you
        the keys! Many of our clients have become good friends as we have taken
        the construction journey together. We wish you much joy and happiness in
        your home.
      </p>

      <p>
        SHEMSS stands proudly behind the quality and durability of their work.
        For this reason, we offer a fully <%= link_to 'comprehensive warranty',
          '/assets/warranty.pdf', target: '_blank' %> on our homes.
      </p>
    </div>
  </div>

  <div class="row mt-md-3 mt-lg-0 mb-5 built-to-evolve">
    <div class="col-md col-lg-5 mb-md-5">
      <div class="vertical-center">
        <div class="text-white bg-dark p-3 p-sm-5 p-md-4 to-edge-left to-edge-right pad-edge vertical-center-inner">
          <h2 class="hul">Preconstruction</h2>

          <p>
            Do you need assistance with the preconstruction process? SHEMSS can
            help with the following key tasks:
          </p>

          <ul>
            <li>Architect + Interior Design Coordination</li>
            <li>Assistance with Securing Financing</li>
            <li>Broker Referral</li>
            <li>Assistance with Finish Selection</li>
            <li>Permit Procurement</li>
            <li>Site Selection</li>
            <li>Space Planning and Schematic Layout</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md col-lg-7 mb-md-5">
      <div class="to-edge-left to-edge-right to-edge-right-mega">
        <%= partial 'layouts/video-modal', locals: {
          video: 'COtp2nuCpdo',
          title: 'Homey Getaway - Contemporary Home | SHEMSS The Tata Project',
          image: image_tag('services/preconstruction.jpg',
            alt: 'Preconstruction', class: 'img-fluid'),
        } %>
      </div>
    </div>
  </div>

  <h2 class="hul">We Build Faster</h2>

  <div class="row">
    <div class="col-md col-lg-7 mb-md-5">
      <p><em>SHEMSS, moving at a pace of modern living.</em></p>
      <p>
        By choosing SHEMSS Homes, you’ve signed up to be at the forefront of a
        progressive movement disrupting the construction industry.
      </p>
      <p>
        We're flipping the traditional notion of what it means to build a home
        on its head. This means no more:
      </p>
      <ul>
        <li>Delays</li>
        <li>Stress</li>
        <li>Red tape</li>
        <li>Hidden costs</li>
        <li>Confustion</li>
      </ul>
      <p>
        We provide a simple path to an affordable, thoughtfully designed home
        without the headaches of traditional builds. You spend less time
        worrying and get into your new home sooner!
      </p>
    </div>
    <div class="col-md col-lg-5 mb-md-5">
      <div class="row">
        <div class="col-sm col-md-12 col-lg">
          <div class="mt-3 mt-md-0 mb-3">
            <div class="clock-face">
              <div class="clock-outer">
                <div class="clock-inner">
                  <div class="hours-container">
                    <div class="hours"></div>
                  </div>
                  <div class="minutes-container">
                    <div class="minutes"></div>
                  </div>
                  <div class="seconds-container">
                    <div class="seconds"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-12 col-lg">
          <ul class="faster-list text-uppercase mt-3 mt-sm-5 mt-md-3 mt-lg-2">
            <li>SHEMSS home</li>
            <li>New custom home</li>
            <li>New custom home teardown</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5 pb-5">
    <div class="text-white bg-secondary text-center px-2 py-5 to-edge-right to-edge-left ready-evolve">
      <h2>Excited yet? We'd Love to Hear From You</h2>
      <p class="lead"><em>Let’s chat!</em></p>
      <p>
        <%= link_to 'Get a Quote', '/contact/',
          class: 'btn btn-primary px-5 rounded-pill text-uppercase' %>
      </p>
    </div>
  </div>

  <div class="anchor" id="remodeling"></div>

  <div class="row mb-5">
    <div class="col-md-7">
      <h2 class="hul">Remodel</h2>

      <p><em>
        With SHEMSS your dream home renovation is now within reach!
      </em></p>

      <p>
        Times change, families change, and sometimes your house also needs to
        change! There are many benefits that come with home renovations.
        Investing into your home is a decision which will bring multiple
        returns, including:
      </p>

      <ul>
        <li>Increase in value and scalability of your home</li>
        <li>The reward of financial return</li>
        <li>
          Decrease in maintenance and utility cost through the use of smart
          technology, improved materials, and other energy efficient options
        </li>
        <li>
          Having a gorgeous house that is truly a home &mdash; that meets the
          needs and fits the lifestyle of your family.
        </li>
      </ul>
    </div>

    <div class="col-md-5">
      <div class="text-white bg-dark p-3 p-sm-4 to-edge-right">
        <h2 class="h5 text-uppercase hul"><small>Our Process</small></h2>

        <ul>
          <li>
            <h3 class="h6 text-uppercase">Vision &amp; Consultation</h3>
            <p><em>It’s all about you. Let’s get to know each other.</em></p>
          </li>
          <li><h3 class="h6 text-uppercase">Design &amp; Planning</h3></li>
          <li>
            <h3 class="h6 text-uppercase">Construction &amp; Follow-Up</h3>
            <p><em>Boots on the ground, ready for action!</em></p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mb-md-5">
    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'services/process.svg#consultation') %>
      </svg>

      <h4 class="h6 text-uppercase">Vision &amp; Consultation</h4>

      <p><em>It’s all about you. Let’s get to know each other.</em></p>

      <p>
        We begin with a consultation where we envision your dreams and incarnate
        them into features and elements that would meet your needs. At SHEMSS we
        believe that a home should reflect those who live there and we
        understand every dream is unique in respect to every individual. Our
        goal is make your dream of a dream house come to life.
      </p>
    </div>

    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'services/process.svg#planning') %>
      </svg>

      <h4 class="h6 text-uppercase">Design &amp; Planning</h4>

      <p>
        Once we nail down the details our experts at the drawing board will put
        the pen to the paper and convert your vision into a feasible design that
        fits your budget. With the project timeline laid out we’ll run like a
        well-oiled machine. We’re big on keeping clients in the loop throughout
        the project and will strive to keep our communication clear and
        transparent.
      </p>
    </div>

    <div class="col-sm-6 col-lg mb-5 process-col">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'services/process.svg#construction') %>
      </svg>

      <h4 class="h6 text-uppercase">Construction &amp; Follow-Up</h4>

      <p><em>Boots on the ground, ready for action!</em></p>

      <p>
        Because we proudly stand behind our work we offer complementary
        comprehensive warranty even after we hand over the keys. Building with
        SHEMSS is worry-free, leaving you with a peace of mind to fully enjoy
        your new space.
      </p>
    </div>
  </div>

  <div class="row mt-md-3 mt-lg-0 mb-5 built-to-evolve">
    <div class="col-md col-lg-5 mb-md-5">
      <div class="vertical-center">
        <div class="text-white bg-dark p-3 p-sm-5 p-md-4 to-edge-left to-edge-right pad-edge vertical-center-inner">
          <h2 class="hul">Estimating / Construction</h2>

          <ul>
            <li>Cost Analysis</li>
            <li>Phasing/Scheduling</li>
            <li>Value Engineering</li>
            <li>LEED Certified</li>
            <li>Complete Design/Build Construction</li>
            <li>Construction Management</li>
            <li>Custom Cabinetry/Millwork</li>
            <li>Equipment Procurement/Coordination</li>
            <li>Finish Carpentry</li>
            <li>Ground Up Construction/Tenant Improvements</li>
            <li>Continued Client Service Upon Completion</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md col-lg-7 mb-md-5">
      <div class="to-edge-left to-edge-right to-edge-right-mega">
        <%= partial 'layouts/video-modal', locals: {
          video: 'S9vwRs2SIeg',
          title: 'Simply Majestic - Mountain Modern Cabin | SHEMSS The Tata Project',
          image: image_tag('services/estimating-construction.jpg',
            alt: 'Estimating/Construction', class: 'img-fluid'),
        } %>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container-fluid">
    <h2 class="text-center">SHEMSS’ Peace of Mind</h2>

    <p class="text-center">
      <svg class="img-fluid mb-4 process-icon">
        <%= tag :use, ->(href) { { href: href, 'xlink:href': href} }
          .call(image_path 'services/process.svg#warranty') %>
      </svg>
    </p>

    <h3 class="h5 text-uppercase">10 Year Structural Warranty</h3>

    <p>
      Covers qualified structural defect repair costs for up to 10 years. As an
      added bonus our warranty is insurance backed. In the rare case, that you
      might happen to need warranty assistance, it’s guaranteed to be there for
      your convenience.
    </p>

    <h3 class="h5 text-uppercase">2 Year Systems Warranty</h3>

    <p>
      Covers electrical, plumbing and mechanical systems such as HVAC for a full
      duration of 2 years.
    </p>

    <h3 class="h5 text-uppercase">1 Year Workmanship Warranty</h3>

    <p>
      Covers construction defects in materials or workmanship. Including
      cabinets, countertops, floors, paint and exterior siding, to name just a
      few.
    </p>
  </div>
</div>

<% content_for :foot, javascript_include_tag('home') %>
<% content_for :foot, javascript_include_tag('services') %>
